.toggle {
    width: 60px;
    border: 4px solid white;
    border-radius: 40px;
    height: 30px;
}

.toggle .inner {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
    position: relative;
    z-index: -1;
}

.active-toggle {
    transform: translateX(calc(60px - 30px));
}