.game {
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.game .keyboard .key {
    font-size: 30px;
    padding: 8px;
    border: 2px solid white;
    width: calc(100% / 14);
    box-sizing: border-box;
    background-color: transparent;
    box-sizing: border-box;
}

.game .keyboard {
    display: flex;
    flex-wrap: wrap;
}

.game .players {
    display: flex;
    width: 100%;
    overflow-x: auto;
    padding: 8px;
    box-sizing: border-box;
}

.game .players .player {
    display: flex;
    min-width: 220px;
    margin-right: 10px;
}

.game .players .player .left .avatar {
    width: 60px;
    height: 60px;
    background-color: grey;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game .players .player .left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.game .players .player .right {
    font-size: 18px;
}

.game .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    flex: 1;
}

.game .content .controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game .content .draw {
    
}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1200px) {
    /* .game .content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    } */

    .game .players {
        flex-direction: column !important;
        width: auto !important;
    }

    .game {
        max-height: 100vh !important;
        flex-direction: row !important;
    }

    .game .keyboard .key {
        width: calc(100% / 10);
    }

    .game .controls {
        padding: 1.8em;        
    }

    .game .players {
        overflow-y: auto !important;
        overflow-x: hidden;
        max-height: 100%;
    }
}